<h1>Обновление ЦФО</h1>

<%= labelled_form_for @cfo do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= submit_tag l(:button_save) %>
<% end %>

<%= link_to 'К списку ЦФО', cfos_path %>
