<h1>Создание ЦФО</h1>
<%= labelled_form_for @cfo do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= submit_tag l(:button_create) %>
<% end %>
<%= link_to 'К списку ЦФО', cfos_path %>